parameters:
	ignoreErrors:
		-
			message: "#^Property BombenProdukt\\\\Spotify\\\\Reference\\\\Client\\:\\:\\$config is never read, only written\\.$#"
			count: 1
			path: src/Reference/Client.php

		-
			message: "#^Anonymous function should return Illuminate\\\\Http\\\\Client\\\\Response but returns array\\<string, string\\>\\.$#"
			count: 1
			path: src/Reference/Playlists.php

		-
			message: "#^Cannot access offset 'config' on Illuminate\\\\Contracts\\\\Container\\\\Container\\.$#"
			count: 1
			path: src/ServiceProvider.php

		-
			message: "#^Property BombenProdukt\\\\Spotify\\\\Spotify\\:\\:\\$config is never read, only written\\.$#"
			count: 1
			path: src/Spotify.php
